* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card .card_content {
    padding: 0px;
}
.card {
    margin-left: 50px;
    margin-top: 50px;
}

.posts_id {
    background-color: #7b7bc894;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.posts_title {
    padding: 10px;
}
.posts_body {
    padding: 10px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}